<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-9 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                    <img src="/img/snowtricks_logo.png" alt="SnowTricks Logo" width="25px" height="25px">
                </a>
                <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Lisa VINCENT _ OpenClassrooms Project</span>
            </div>

        <ul class="nav col-md-3 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" target="_blank" href="https://github.com/lisavincent31/Vincent_Lisa_1_repository_git_092023">
                    <i class="bi bi-github"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" target="_blank" href="https://www.linkedin.com/in/lisa-vincent-dev/?originalSubdomain=fr">
                    <i class="bi bi-linkedin"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>