{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{# Begin Homepage #}
<main class="homepage">
{% for message in app.flashes('success') %}
  <p>{{ message }}</p>
{% endfor %}
    {# Full width image #}
    <div class="container-fluid p-0 position-relative" id="homepage">
            <div class="bg-img">
                <div class="caption">
                    <h1>Bienvenue</h1>
                    <p>sur notre site collaboratif de tricks de snowboard.</p>
                    <p><a class="btn btn-lg btn-primary rounded" href="/register">Inscrivez-vous aujourd'hui</a></p>
                </div>
            </div>
            {# Link to register #}
            <div class="container-fluid position-absolute bottom-0">
                <a href="#tricks_container" type="button" class="btn btn-lg float-end rounded-circle">
                    <i class="bi bi-arrow-down-circle-fill text-primary"></i>
                </a>
            </div>
    </div>
    {# End full width image #}
    <div class="container bg-white pt-5 shadow" id="tricks_container">
        {# Tricks container #}
        <div class="row justify-content-evenly">
            {% for trick in tricks %}
                <div class="card shadow col-1 col-md-3 col-lg-4 mx-2 mb-3 p-0">
                    <img src="https://picsum.photos/250/150" class="card-img-top rounded-top">
                    <div class="card-body d-flex justify-content-around ">
                        {# <p class="card-text">{{ trick.content[:50] ~ '...' }}</p> #}
                        <a href="/trick/{{ trick.id }}">
                            <h3 class="card-title">{{ trick.name }}</h3>
                        </a>
                        <div>
                        {% if (app.user) %}
                            {% if (app.user.id == trick.author.id) %}
                                <button type="button" class="btn btn-outline-success">
                                    <i class="bi bi-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="float-end">
                <a href="#homepage" type="button" class="btn btn-lg float-end rounded-circle">
                    <i class="bi bi-arrow-up-circle-fill text-primary"></i>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}