<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
            <div class="container d-flex justify-content-between">
            <div class="col-3">
                <a class="navbar-brand" href="/">SnowTricks</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0 w-100 justify-content-end align-items-center">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Connexion</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle px-3" href="#" id="compte" data-bs-toggle="dropdown" aria-expanded="true">
                            John Doe
                            <img src="https://picsum.photos/id/256/25/25" class="pl-2 rounded-circle">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="compte" data-bs-popper="none">
                            <li><a class="dropdown-item" href="#">Tableau de bord</a></li>
                            <li><a class="dropdown-item" href="#">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>