/* General styles */
$base-color: #fbfafa;

body {
    background-color: $base-color!important;
}

/*
* Authentication Forms
*/
#registration_form,
#login_form {
    .container {
        margin-top: 7em;
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 5em auto;
            div {
                margin: 0.5em;
                display: flex;
                justify-content: space-between;
                label {
                    padding: 0.5em;
                    width: 50%;
                }
                input {
                    width: 95%;
                    &[type=checkbox] {
                        width: 25%;
                    }
                }
            }
            button {
                width: 50%;
                margin: 2.5em auto;
                border-radius: 15px!important;
            }
        }
    }
}

/*
* HomePage Cards
*/
main {
    #homepage {
        margin: 0;
        padding: 0;
        width: 100%;
        .bg-img {
            position: relative;
            opacity: 0.65;
            background-image: url(../../public/img/homepage.jpg);
            height: 100vh;
            width: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            .caption {
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                text-align: center;
                background-color: #1a1a1a;
                opacity: 0.85;
                h1, p, a{
                    background-color: transparent;
                    opacity: 1;
                    color: #fff;
                }
            }
        }
        #tricks_container {
            .card {
                padding: 0!important;
                .card-img-top {
                    border-top-left-radius: 0.5em;
                    border-top-right-radius: 0.5em;
                }
            }
        }
    }
}

/*
* Details Trick Page Styles
*/
main {
    .row {
        margin-left: 0!important;
    }
}
.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
}

.img-text {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translate(0%, -50%);
    h1 {
        text-align: center;
    }
}

#slideshow {
    img {
        height: 95%!important;
        width: 95%!important;
        object-fit: contain;
    }
    iframe {
        height: 100px;
        width: 200px;
    }
}

#comments {
    img {
        width: 70px!important;
    }
}