{% extends 'base.twig.html' %}

{% block title %} Création d'une figure de snowboard ! {% endblock %}

{% block body %} 
    <h1 class="text-center">Nouvelle figure</h1>
    {{ form(form) }}
{% endblock %}